a.router-link-active.router-link-exact-active {
  color: #015bbb;
  text-decoration: auto;
}

.v-navigation-drawer__content a {
  color: rgba(var(--v-theme-on-surface), var(--v-high-emphasis-opacity));
  text-decoration: auto;
}